
button {
    border: transparent;
    position: relative;
    padding: 10px 10px;
    background-color: #333333;
    color: #e164ea;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 10px;
    overflow: hidden;
    transition: 0.2s;
    cursor: pointer;
    z-index: 10000;
}

button:hover {
    color: #050f1a;
    background: #d501f6;
    border-radius: 3px;
    box-shadow: 0 0 10px #5d046b, 0 0 40px #863e91, 0 0 80px #d501f6;
    transition-delay: 200ms;
}
